*{
    padding: 0;
    margin: 0;
}
header{
    margin-top: 20px;
}
header nav{
    background-color: tomato;
    height: 10vh;
    font-family: fantasy;
    font-size: 25px;
    padding-top: 22px;
}
header nav > span, input{
    /* padding-left: 30px; */
    margin-left: 100px;
}
nav #logo{
    margin-left: 50px;
}
nav #account{
    margin-left: 300px;
}
nav input{
    height: 40%;
}
nav button{
    /* height: 40%; */
    padding: 3.5px;
    width: 60px;
    background-color: greenyellow;
    color: blue;
}