*{
    box-sizing: border-box;
}
header{
    height: 20vh;
}
#menu{
    gap: 6px;
}
#menu .box{
    height: auto;
    box-shadow: 4px 4px 5px gray;
    padding: 5px;
    /* margin: 2px; */
    flex-grow: 1;
    text-align: center;
}
#menu .box image{
    height: 50px;
}
#cart .list-group{
    width: 90%;
}

ul li img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#notFound{
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

.modal img{
    width: 85%;
    height: 300px;
    margin-bottom: 5px;
    /* display: block; */
    /* margin: auto; */
}

#modalBody > img, p{
    padding-left: 20px;
    margin-left: 20px;
}

#total{
    color: blue;
}

#input, #ser-btn{
    box-shadow: 4px 4px 5px gray;
}

#cart{
    margin-left: 5px;
}